@import '@boredkevin/ui/theme.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    border-radius: var(--radius, 0px);
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Space Grotesk', 'Inter', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow-x: hidden;
  }

  /* Automatically hide scrollbar on desktop screens */
  @media (min-width: 768px) {
    html, body {
      overflow: hidden;
      height: 100vh;
    }
  }
}

